{% extends 'base.html.twig' %}

{% block title %}Harjoitus 2{% endblock %}

{% block main %}
    {{ dump() }}
    <div class="container-fluid">
      <h3>Symfony 4 - harjoitus 2</h3>
      <p>Hei, {{ app.request.query.get('name') | default('testi') }}</p>
      <p>Minun ihanat muuttujat: {{ some_variable | default('(muuttujia ei ole esitelty!)')}}</p>
      <p>Moikka, {{ name }}. Onko hyökkäys meneillään? Hyökkäsy = {{ isAttack }}. Jos se on 1, niin hyökkäys on käynnissä.
    </div>
  </main>
{% endblock %}